html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-color:black;
}

*,*:after, *:before{
	box-sizing: border-box;
}

.wrap{
	margin: 0 auto;
	max-width: 1024px;
}

.header{
    width: 100%;
    background: #424242;
    height: 300px;
}

@media(max-width: 830px){
	.header{
		height: auto;
		padding: 10px 0;
	}
}

.logo img{
	float: left;
	margin-top: 92px;
	margin-left: 16%;
	width: 16%;
}

@media(max-width: 830px){
	.logo{
		margin: 0 auto;
		text-align: center;
	}
	.logo img{
		float: none;
		margin-top: 0;
		margin-left: 0;
		min-width: 130px;
		min-height: 130px;
	}
}

.InfoInput{
	float: left;
	width: 25%;
	margin: 70px 0 0 6%;
	height: 40px;
	border-radius: 10px;
	font-size: 24px;
}

@media(max-width: 830px){
	.InfoInput{
		float: none;
		width: 90%;
		margin: 0;
		height: auto;
		margin-left: 5%;
	}
}

.InfoInput label{
	float: left;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    color: #FFD366;

}

.InfoInput input{
    float: left;
    padding-left: 10px;
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}

.InfoInput input:focus{
 background: #F5C1EE;
}

.InfoInput .retestAndReset{
    font-size: 20px;
    float: left;
    width: 100%;
    margin-top: 5px;
}

.InfoInput .retestAndReset input{
    font-weight: bold;
    background: #FFD366;
    min-width: 90%;
    border: 1px solid black;
}

.InfoInput .retestAndReset input:hover{
    background-color: #ffda80;
    box-shadow: 0 1px 4px 2px rgba(255, 195, 49, 0.64);
}

.resultBtn{
    display: inline-block;
    position: relative;
    width: 25%;
    float: left;
    margin-top: 8%;
    height: auto;
}

.resultBtn span{
    display: block;
    position: relative;
    margin-left: 25%;
    margin-top: 10px;
    background: #FFD367;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    height: 160px;
    width: 160px;
    position: relative;
}

.resultBtn .btnText{
    position: absolute;
    top: 40%;
    left: 30%;
    font-weight: bold;
}

.resultBtn .dataText{
    position: absolute;
    top: 62%;
    left: 40%;
    font-size: 20px;
    font-weight: bold;
}

.resultBtn .statusText{
    position: absolute;
    top: 106%;
    left: 35%;
    z-index: 2;
    font-size:  28px;
    font-weight: bold;
}

@media(max-width: 830px){
	.resultBtn .btnText{
	    left: 30%;
    	font-size: 25px;
	}
	.resultBtn .statusText{
	position: static;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
	}
}

.resultBtn .statusText.a{
    color: #31BAF9;
}
.resultBtn .statusText.b{
    color: #86D73E;
}
.resultBtn .statusText.c{
    color: #FF982D;
}
.resultBtn .statusText.d{
    color: #FF6C02;
}
.resultBtn .statusText.e{
    color: #FF1200;
}

.resultBtn .picLoop{
	display: none;
	height: 25px;
	width: 19px;
	position: absolute;
	bottom: 13%;
	right: 0%;
	border-radius: 50%;
}

.resultBtn.a .picLoop{
	display: inline;
	background: #31BAF9;
}
.resultBtn.b .picLoop{
	display: inline;
	background: #86D73E;
}
.resultBtn.c .picLoop{
	display: inline;
	background: #FF982D;
}
.resultBtn.d .picLoop{
	display: inline;
	background: #FF6C02;
}
.resultBtn.e .picLoop{
	display: inline;
	background: #FF1200;
}

.resultBtn.a span{
    background: #424242;
    border: 10px solid #31BAF9;
	color: #31BAF9;
}
.resultBtn.b span{
    background: #424242;
    border: 10px solid #86D73E;
	color: #86D73E;
}
.resultBtn.c span{
    background: #424242;
    border: 10px solid #FF982D;
	color: #FF982D;
}
.resultBtn.d span{
    background: #424242;
    border: 10px solid #FF6C02;
	color: #FF6C02;
}
.resultBtn.e span{
    background: #424242;
    border: 10px solid #FF1200;
    color: #FF1200;
}

@media(max-width: 830px){
	.resultBtn{
		float: none;
		width: 100%;
		margin: 0;
		height: auto;
	}
	.resultBtn span{
	    margin: 0 auto;
	}
}

.resultBtn span:hover {
	cursor: pointer;
    background-color: #ffda80;
    box-shadow: 0 1px 6px 3px rgba(255, 195, 49, 0.64);
}

.resultBtn.a span:hover, .resultBtn.b span:hover, .resultBtn.c span:hover,
.resultBtn.d span:hover, .resultBtn.e span:hover{
    background-color: #6C6969;
    box-shadow: 0 0 0 0 #fff;

}

.content{
	width: 100%;
    background: #DEDEDE;
	height: auto;
	padding-bottom: 100px;
}

.content h1{
    text-align: center;
    padding: 20px 0;
}

.records ul{
    margin: 0 auto;
    text-align: center;
    width: 65%;
}

@media(max-width: 830px){
	.records ul{
	    width: 95%;
	}
}

.records ul li{
	line-height: 58px;
	background: #fff;
	margin-bottom: 10px;
	border-radius: 5px;
}

.records .colorBar{
	margin-left: 0px;
	display: inline-block;
	float: left;
	width: 7px;
	height: 62px;
	background: #D108F7;
}

.colorBar.a{
	background: #31BAF9;
}
.colorBar.b{
	background: #86D73E;
}
.colorBar.c{
	background: #FF982D;
}
.colorBar.d{
	background: #FF6C02;
}
.colorBar.e{
	background: #FF1200;
}

.records .status{
	font-size: 20px;
}

.records .field{
	font-size: 12px;
	margin-left: 20px;
	background: #96E60D;
	opacity: .8;
}

.records .data{
    font-size: 20px;
    margin-left: 5px;
}

.time {
    font-size: 12px;
    margin-left: 8px;
}

@media(max-width: 600px){
	.records ul li{
		line-height: 36px;
	}
	.records .colorBar{
		height: 42px;
	}
	.records .status{
		font-size: 16px;
	}
	.records .field{
		margin-left: 5px;
	}
	.records .data{
	    font-size: 15px;
	}
}

@media(max-width: 400px){
	.records .data{
	    font-size: 12px;
	}
}

.footer{
	width: 100%;
	background: #FFD366;
	height: 120px;
	text-align: center;
	line-height: 120px;
	padding-top: 23px;
}

.footer img{
	width: 55px;
	height: 55px;
}
